*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
    width: 100%;
    height: 0px;
}

.nav{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 224, 0, 0.3);
  position: fixed;
}
ul{
  margin-top: 30px;
}
li{
  list-style-type: none;
  display: inline;
  margin: 30px;


}
li a{
  text-decoration: none;
  margin: 30px;
  color:white;
  text-shadow: black 2px 2px 2px;
  font-size: 25px;
}
img{
  width: 100%;
  height: 100%;
}
